body{
  margin: 0vw;
  position: relative;
}

footer {
  background-color: #d29bfd;
  box-shadow: 5px 5px 30px black;
  text-align: center;
  width: 100%;
  height: 81px;
  position: absolute;
  bottom: 0;
  padding-bottom: 5rem;

}

h1 {
  text-align: center;
  margin-top: 2.5rem;
}
